*{
    user-select: none;
}
.exchange__product__detail{
    margin-top: 100px;
    display: flex;
}

.exchange__product__detail .left{
    margin-left: 50px;
}
.exchange__product__detail .left__galary {
    width: 560px;

}
.left .product__details{
    width: 540px;
    margin-top: 10px;
}
.exchange__product__detail .right .right__title{
    color: var(--primary-color);
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
}
.right .right__input{
border: 1px solid #ccc;
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
padding: 5px;
border-radius: 5px;
width: 300px;
}
.right__input input{
    outline: none;
    border: none;
    font-size: 18px;
}
.right__input .MuiSvgIcon-root{
    color: rgb(66, 66, 66);
    cursor: pointer;
}
.exchange__product__detail .exchange__products{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    margin-right: 10px;
}
