
.verify{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    user-select: none;
    background-image: url('../../../public/images/Capture.PNG');
}
.verify .overlay{
    background-color: rgba(32, 32, 32, 0.705);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.verify__form{
    background-color: #fff;
color: #000;
width: 550px;
border-radius: 5px;
box-shadow: 0 0 9px 1px rgba(0,0,0,0.3);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.verify__form h2{
    font-size: 50px;
    font-weight: 700;
    color: var(--primary-color);
    margin: 10px 0;
}
.verify__form .desc{
    font-size: 20px;
}
.verify__form .inputs{
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.verify__form .inputs .inputs__box{
    width: 100%;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.verify .inputs__box input{
    width: 8%;
    padding: 8px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 20px;
    border-radius: 4px;
    margin: 0 10px;
    text-align: center;
}
.inputs__box input::placeholder{
    color: rgb(192, 192, 192);
}
.inputs__box input:focus{
    border-color: var(--primary-color);
}
.verify .inputs .inputs__box p{
    font-weight: 500;
    color: var(--primary-color);
    margin-bottom: 5px;
 
}

 

.form__footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}
.form__footer button{
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: #fff;
    padding:  8px;
    flex-basis: 40%;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 5px;

}
.form__footer button:hover{
    background-color: rgb(107, 107, 107);
    cursor: pointer;
}

