.signin {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  user-select: none;
  background-image: url("./landingbg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.signin .child-div {
  filter: none; /* Overrides blur for the child div */
}

.signin .overlay {
  background-color: rgba(32, 32, 32, 0.605);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signin__form {
  color: #000;
  width: 550px;
  border-radius: 5px;
  box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.signin__form h2 {
  font-size: 50px;
  font-weight: 700;
  color: var(--primary-color);
  margin: 10px 0;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px;
  margin: 10px;
}
.signin__form .desc {
  font-size: 20px;
}
.signin__form .inputs {
  padding: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
}
.signin__form .inputs .inputs__box {
  margin: 5px;
  /* border: red 1px solid; */
  width: 80%;
}
.inputs__box input {
  padding: 8px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 16px;
  border-radius: 4px;
}
.inputs__box input::placeholder {
  color: rgb(192, 192, 192);
}
.inputs__box input:focus {
  border-color: var(--primary-color);
}
.signin .inputs .inputs__box p {
  font-weight: 500;
  color: var(--primary-color);
  margin-bottom: 5px;
}

.signin .form__footer {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px 0;
  flex-direction: column;
}
.form__footer button {
  width: 40%;
  border: none;
  outline: none;
  background-color: var(--primary-color);
  color: #fff;
  padding: 8px;
  flex-basis: 40%;
  font-size: 16px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.form__footer button:hover {
  background-color: rgb(107, 107, 107);
  cursor: pointer;
}
.form__footer p {
  color: var(--primary-color);
  margin-bottom: 20px;
}
.form__footer span {
  color: dodgerblue;
  cursor: pointer;
}
/* error box */
.error__box {
  background-color: rgba(241, 24, 24, 0.863);
  width: 100%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.error__box p {
  font-size: 20px;
}
.verified__box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.verified__box h3 {
  color: rgba(241, 24, 24, 0.863);
  margin: 10px 0;
  font-size: 24px;
}
.verified__box p {
  color: var(--primary-color);
}
