.search{
    margin-top: 90px;
    width: 90%;
    margin: 100px auto 0 auto;
}
.search h1{
    color: var(--primary-color);
}
.searched__products{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searched__products.oops{
    display: flex;
    flex-direction: column;
    
}
.searched__products.oops h2{
    color: var(--primary-color);
}
