.product__details{
  position: relative;
}
.product__details .payment__wrapper{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: var(--primary-color);
}
.details__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #808080;
}
.header_left {
  display: flex;
  align-items: center;
}

.header_left .left__by {
  font-weight: 500;
  font-size: 22px;
}

.by__info .info__name {
  font-weight: 500;
  font-size: 18px;
  transition: 0.3s;
}

.by__info .info__from {
  color: gray;
  font-size: 14px;
}
.header_left .info__name:hover {
  font-weight: bold;
}
.header_left .profile__img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 10px;
  padding: 2px;
  border: 2px solid var(--primary-color);
  transition: 0.3s;
}
.header_left .profile__img:hover {
  transform: scale(1.1);
}
.header_left .level__img {
  width: 60px;
  height: 60px;
}
.header__right {
  display: flex;
  align-items: center;
}
.header__right p {
  font-size: 18px;
  font-weight: 500;
}
.details__body {
  padding: 10px;
  border: 1px solid #ccc;
  margin-top: 10px;
  border-radius: 5px;
}
.details__body .product__title {
  font-size: 22px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product__title .titleviews {
  font-size: 12px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.623);
  padding: 5px;
  box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.details__body .product__desc {
  margin: 10px 0;
}
.details__body .product__price {
  font-size: 22px;
  font-weight: 500;
}
.price__value {
  width: 100%;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
}
.price__value span {
  font-size: 14px;
}
.body__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  color: #676767;
}

.actions button {
  width: 100%;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0;
  font-size: 18px;
}
.buy__btn {
  background-color: #4d4d4d;
  color: #fff;
  border: none;
}
.buy__btn:hover {
  cursor: pointer;
  background-color: #636363;
}
.favorite__btn {
  border: 1px solid #4d4d4d;
}
.favorite__btn:hover {
  cursor: pointer;
  background-color: #d4d4d4;
}
.chat__btn {
  outline: none;
  border: none;
  width: 100%;
  background-color: var(--primary-color);
  color: #fff;
  padding: 7px;
  border-radius: 3px;
  box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  transition: 0.3s;
}
.chat__btn:hover {
  background-color: rgb(32, 31, 31);
  cursor: pointer;
}
.loader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader img {
  width: 60px;
  height: 60px;
}
