.single__transaction{
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px 0;
}
.single__transaction .details__btn{
    color: #fff;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 9px 1px rgba(0,0,0,0.3);
transition: .2s;
}
.single__transaction .details__btn.buyer{
    background-color: #138D95;
}
.single__transaction .details__btn:hover{
    background-color: rgb(14, 82, 151);
    cursor: pointer;
}
.single__transaction .transaction__status{
    border: none;
    outline: none;
    font-size: 12px;
    padding: 4px;
    color: #fff;
  width: 90px;
  text-align: center;
  border-radius: 5px;
}
.single__transaction .actions button{
    border: none;
    outline: none;
    font-size: 12px;
    padding: 4px;
    color: #fff;
    cursor: pointer;
    transition: .2s;
    box-shadow: 0 0 9px 1px rgba(0,0,0,0.3);
margin: 1.5px 0;
}
.actions .confirm__btn{
    background-color: #4FDA86;
}
.actions .cancel__btn{
    background-color: #EE63AE;
}
.actions .confirm__btn:hover, .actions .cancel__btn:hover{
    opacity: .7;
}